<!-- //This file was created manually by Bright -->
<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        IonReddit
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-list>
        <ion-item *ngFor = "let item of items">
            <ion-card>
                <!-- ion Card For every item -->
                <img src="{{item.data.thumbnail}}">            
                <ion-card-content>
                  <p>  {{ item.data.title }}</p>
                </ion-card-content>
              
                <ion-row>
                  <ion-col>
                      <ion-icon name="thumbs-up"></ion-icon>
                      <div>{{item.data.score}}</div>
                  </ion-col>
                  <ion-col>
                      <ion-icon name="text"></ion-icon>
                      <div>{{item.data.num_comments}}</div>
                  </ion-col>
                  <ion-col align-self-center text-center>
                      <ion-button clear item-right routerLink="details" routerDirection="forward" >View</ion-button>
                  </ion-col>
                </ion-row>
              
              </ion-card>

            <!-- <ion-thumbnail *ngIf="item.data.thumbnail" item-left><img src="{{item.data.thumbnail}}"></ion-thumbnail>
            {{ item.data.title }}
            <p>
              <ion-icon name="thumbs-up"></ion-icon>&nbsp; &nbsp;
              <ion-icon name="chatboxes"></ion-icon>
            </p> -->
            
        </ion-item>
      </ion-list>
  </ion-content>